<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nonda.dtc">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.nonda.dtc.app.AppHolder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme">
        <activity android:name="com.nonda.dtc.ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.FaultActivity"/>

        <service android:name="com.nonda.dtc.ble.AppBleService"/>
        <activity android:name=".ui.activities.GoodActivity"/>
        <activity android:name=".ui.activities.CoolantActivity"/>
        <activity android:name=".ui.activities.SpeedActivity"/>
        <activity android:name=".ui.activities.IssueActiviity"/>
        <activity android:name=".ui.activities.SettingActivity"/>
        <activity android:name=".ui.activities.ClearDtsErrorActivity"/>
    </application>

</manifest>